<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.kai_morich.AmiLineSensor">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- mipmap/ic_launcher created with Android Studio -> New -> Image Asset using @color/colorPrimaryDark as background color -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/usb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <!-- for this simple app launchMode=singleTask and singleTop have same effect.
             If you would start another activity in the app, e.g. Android Settings
             then you should use singleTask, else a new MainActivity would be started
             when the settings activity is currently shown -->
        <activity
            android:name="de.kai_morich.AmiLineSensor.MainActivity"
            android:icon=" @mipmap/ic_launcher"
            android:label="@string/app_name"
            android:keepScreenOn="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>
        <service android:name="de.kai_morich.AmiLineSensor.SerialService" />
    </application>

</manifest>
